.catalog {
    &__filter {
        display: flex;
        justify-content: space-between;
        margin: 51px auto 74px auto;
        height: auto;
        position: relative;
    }

    &__filter-menu {
        display: flex;
        align-items: center;
    }

    &__filter-menu:hover+.catalog__filter-block{
        display: block;
    }

    &__filter-block:hover {
        display: block;
    }

    &__free-space {
        @include tablet {
            display: none;
        }
    }

    &__filter-block:hover .catalog__filter-icon,
    &__filter-block:hover .catalog__filter-header{
        fill: $dark-pink;
        color: $dark-pink;
    }

    &__filter-block {
        display: none;
        position: absolute;
        top: -10px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        background-color: #fff;
        width: 360px;
        z-index: 1;
        padding: 13px 0 16px 16px;
    }

    &__filter-header {
        @include font(14px, 17px, 600);
        margin: 0;
        text-transform: uppercase;

        @include mobile {
            display: none;
        }
    }

    &__filter-menu-button {
        border: none;
        background: $white;
        padding: 0 0 0 0;
        display: flex;
    }

    &__filter-icon {
    margin: 0 0 0 11px;
    }

    &__filter-list {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 0;
        padding: 0;
    }

    &__filter-menu-list {
        padding: 0;
    }

    &__filter-list-button {
        border: none;
        background: $white;
        padding: 0;
        border-bottom: 1px solid $input-grey;
        width: 90%;
        display: flex;
        align-items: center;
        margin: 16px 0 0 0;
        text-transform: uppercase;
        @include font(14px, 17px);
        color: $dark-pink;
    }

    &__filter-rectangle {
        fill: $dark-pink;
        margin: 0 11px 0 0;
    }

    &__item-list {
        @include font(14px, 16px);

        @include mobile {
            @include font(12px, 14px);
        }
    }

    &__menu-list-item {
        margin: 11px 0 11px 16px;
    }

    &__menu-link {
        text-decoration: none;
        @include font(14px, 17px);
        color: $dark-gray;
    }

    &__filter-select-block {
        width: 79px;
        height: 103px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;

        @include tablet {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__page-numbers {
        width: 282px;
        height: 43px;
        border: 1px solid $input-grey;
        margin: 18px 0 96px 0;
    }

    &__page-numbers {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__page-numbers-text {
        color: $input-grey;
    }

    &__page-number {
        color: $dark-pink;
    }
}

.container--catalog {
    display: flex;
    justify-content: center;
}